<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Hub</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

    <!-- header section starts-->
    <header class="header">
        <a href="#" class="logo"> <i class="fas fa-heartbeat"></i> Health Hub </a>

        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#doctors">Doctors</a>
            <a href="#book">Book</a>
            <a href="#myaccount">My Account</a>
            <a href="#review">Review</a>
            <a href="#blogs">Blogs</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars">

        </div>
    </header>
    <!-- header section ends-->

    <!-- Home section starts -->

    <section class="home" id="home">

        <div class="image">
            <img src="../static/images/home-img.jpg" alt="">
        </div>
    

        <div class="content">
            <h1>STAY SAFE STAY HEALTHY</h1>
            <p>The improvement of health via the prevention, diagnosis, treatment, amelioration or cure of disease, illness, injury, and other physical and mental impairments in people.</p>           
            <a href="#" class="btn"> contact us <span class="fas fa-chevron-right"></span>  </a>
        </div>

    </section>

    <!-- Home section ends -->

    <!-- icons section starts -->

    <section class="icons-container">
        <div class="icons">
            <i class="fas fa-user-md"></i>
            <h3>140+</h3>
            <p>Doctors at Work</p>
        </div>

        <div class="icons">
            <i class="fas fa-users"></i>
            <h3>1040+</h3>
            <p>Satisfied Patients</p>
        </div>

        <div class="icons">
            <i class="fas fa-bed"></i>
            <h3>500+</h3>
            <p>Bed Facility</p>
        </div>

        <div class="icons">
            <i class="fas fa-hospital"></i>
            <h3>80+</h3>
            <p>Available Hospitals</p>
        </div>

    </section>

    <!-- icons section ends -->

    <!-- Services section start -->

    <section class="services" id="services">
        <h1 class="heading"> Our <span>Services</span></h1>
    
        <div class="box-container">
    
            <div class="box">
                <i class="fas fa-notes-medical"></i>
                <h3>Free Checkups</h3>
                <p>A free medical check-up is a comprehensive examination of how your body works without paying out of your own pocket. It includes vital body tests such as heart health, organ functions, metabolism rate, and a variety of other signs and symptoms. free checkups play a crucial role in promoting early detection of health issues, empowering individuals to take proactive steps to maintain their health.</p>
                <a href="#" class="btn"> Learn more <span class="fas fa-chevron-right"></span></a>
            </div>
    
            <div class="box">
                <i class="fas fa-ambulance"></i>
                <h3>24/7 Ambulance</h3>
                <p>Ambulance services are providing medical care and transportation to patients during emergencies. By providing timely medical attention and transportation to hospitals, ambulance services have helped and saved countless lives. An ambulance is an emergency medical services and plays a critical role in providing life saving care to individuals in need. </p>
                <a href="#" class="btn"> Learn more <span class="fas fa-chevron-right"></span></a>
            </div>
    
            <div class="box">
                <i class="fas fa-user-md"></i>
                <h3>Expert Doctors</h3>
                <p>Our Doctors are highly skilled and knowledgeable medical professionals who have undergone extensive education, training, and experience in their respective fields of specialization. In addition to their technical expertise, expert doctors typically demonstrate excellent communication skills, empathy, and professionalism when interacting with patients and their families.</p>
                <a href="#" class="btn"> Learn more <span class="fas fa-chevron-right"></span></a>
            </div>

            <div class="box">
                <i class="fas fa-pills"></i>
                <h3>Medicines</h3>
                <p>These medications are administered under the supervision of healthcare professionals to patients receiving care. Their use is governed by strict protocols to ensure patient safety, treatment, and regulatory compliance. Medicines used within healthcare facilities such as hospitals, clinics, and medical centers to prevent various medical conditions.</p>
                <a href="#" class="btn"> Learn more <span class="fas fa-chevron-right"></span></a>
            </div>
    
            <div class="box">
                <i class="fas fa-procedures"></i>
                <h3>Bed Facility</h3>
                <p>Hospital beds are specifically designed with special features to cater to the needs of healthcare facilities and home healthcare. They differ from regular beds found in homes or hotels. Common features include adjustable height, electronic buttons, and adjustable side rails.</p>
                <a href="#" class="btn"> Learn more <span class="fas fa-chevron-right"></span></a>
            </div>
    
            <div class="box">
                <i class="fas fa-heartbeat"></i>
                <h3>Total Care</h3>
                <p>Total care is a comprehensive approach to healthcare delivery, offering a wide range of services and resources to address the diverse needs of patients. Access to Medical Professionals, Prescription Services, Monitoring and Follow-Up Care, Appointment Scheduling and Reminders </p>
                <a href="#" class="btn"> Learn more <span class="fas fa-chevron-right"></span></a>
            </div>
        </div>
    </section>

    <!-- Services section ends -->

    <!-- About section start -->

    <section class="about" id="about">
   
        <h1 class="heading"> <span>About</span> Us </h1>
    
        <div class="row">
    
            <div class="image">
                <img src="../static/images/about-img1.png" alt="">
            </div>
    
            <div class="content">
                <h2>We take care of your Healthy Life</h2>
                <p> Hospital, an institution that is built, staffed, and equipped for the diagnosis of disease; for the treatment, both medical and surgical, of the sick and the injured; and for their housing during this process.</p>
                <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span></a>
            </div>
        </div>
    
    </section>

    <!-- About section ends -->

    <!-- Doctors Section Start -->

    <section class="doctors" id="doctors">

        <h1 class="heading">Our <span>doctors</span> </h1>

        <div class="box-container">

            <div class="box">
                <img src="../static/images/doctor-1.jpg" alt="doctor1">
                <h3>Dr. Shailender Singh</h3>
                <span>Cardiologist</span>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div>
            </div>

            <div class="box">
                <img src="../static/images/doctor-2.jpg" alt="doctor2">
                <h3>Dr. Swapna Chekuri</h3>
                <span>Gynecologist</span>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div>
            </div>

            <div class="box">
                <img src="../static/images/doctor-3.jpg" alt="doctor3">
                <h3>Dr. Siva Nagini</h3>
                <span>Dentist</span>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div>
            </div>

            <div class="box">
                <img src="../static/images/doctor-4.jpg" alt="doctor4">
                <h3>Dr. Sailaja Surapaneni</h3>
                <span>General Physician</span>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div>
            </div>

            <div class="box">
                <img src="../static/images/doctor-5.jpg" alt="doctor5">
                <h3>Dr. Arun Kanala</h3>
                <span>Pulmonologist</span>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div>
            </div>

            <div class="box">
                <img src="../static/images/doctor-6.jpg" alt="doctor6">
                <h3>Dr. Mallikarjun</h3>
                <span>Dermotologist</span>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div>
            </div>

        </div>
    </section>

    <!-- Doctors Section End -->

    <!-- Book section starts -->

    <section class="book" id="book">

        <h1 class="heading"> <span>Book</span> Now </h1>
    
        <div class="row">
    
            <div class="image">
                <img src="../static/images/book-img.svg" alt="image">
            </div>
            <form action="/book" method="post">
                <h3>Book Appointment</h3>
                <input type="text" placeholder="Enter Your name" class="box" name="name" required>
                <input type="number" placeholder="Enter Your number" class="box" name="number" required>
                <input type="date" class="box" name="date" required>
                <h2>Select Appointment Slot</h2>
                <ul class="time-slots">
                    <li class="time-slot">
                        <input type="radio" id="slot1" value='09:00 AM' name="timeslot">
                        <label for="slot1">09:00 AM</label>
                    </li>
                    <li class="time-slot">
                        <input type="radio" id="slot2" value='10:00 AM' name="timeslot">
                        <label for="slot2">10:00 AM</label>
                    </li>
                    <li class="time-slot">
                        <input type="radio" id="slot3" value='11:00 AM' name="timeslot">
                        <label for="slot3">11:00 AM</label>
                    </li>
                    <li class="time-slot">
                        <input type="radio" id="slot3" value='12:00 AM' name="timeslot">
                        <label for="slot3">12:00 AM</label>
                    </li>
                    <li class="time-slot">
                        <input type="radio" id="slot3" value='01:00 PM' name="timeslot">
                        <label for="slot3">01:00 PM</label>
                    </li>
                    <li class="time-slot">
                        <input type="radio" id="slot3" value='02:00 PM' name="timeslot">
                        <label for="slot3">02:00 PM</label>
                    </li>
                    <li class="time-slot">
                        <input type="radio" id="slot3" value='03:00 PM' name="timeslot">
                        <label for="slot3">03:00 PM</label>
                    </li>
                    <li class="time-slot">
                        <input type="radio" id="slot3" value='04:00 PM' name="timeslot">
                        <label for="slot3">04:00 PM</label>
                    </li>
                    <li class="time-slot">
                        <input type="radio" id="slot3" value='05:00 PM' name="timeslot">
                        <label for="slot3">05:00 PM</label>
                    </li>
                    <li class="time-slot">
                        <input type="radio" id="slot3" value='06:00 PM' name="timeslot">
                        <label for="slot3">06:00 PM</label>
                    </li>
                    <li class="time-slot">
                        <input type="radio" id="slot3" value='07:00 PM' name="timeslot">
                        <label for="slot3">07:00 PM</label>
                    </li>
                </ul>
                <button type="submit" class="btn">Book Now</button> 
                {{status}}
            </form>
        </div>
        
    </section>


    <!-- Book section ends -->

    <!-- My Account Section starts -->

    <section class="myaccount" id="myaccount">
        <h1 class="heading">My <span>Account</span> </h1>
        <div class="account-container">
            <a href='/labtest'><div class="card-container" id="lab-test-container">
                <i class="fas fa-clinic-medical"></i>
                <h3 class="tab-heading">LAB TEST</h3>
            </div></a>

            <a href='/medicine'><div class="card-container" id="medicine-container">
                <i class="fas fa-pills"></i>
                <h3 class="tab-heading">BUY MEDICINE</h3>
            </div></a>
            
            <a href='/doctors'><div class="card-container" id="find-doctor-container">
                <i class="fas fa-user-md"></i>
                <h3 class="tab-heading">FIND DOCTORS</h3>
            </div></a>

            <a href='/article'><div class="card-container" id="articles-container">
                <i class="far fa-newspaper"></i>
                <h3 class="tab-heading">HEALTH ARTICLES</h3>
            </div></a>

            <div class="card-container" id="order-container">
                <i class="fas fa-box-open"></i>
                <h3 class="tab-heading">ORDER DETAILS</h3>
            </div>

            <a href="/logout"><div class="card-container" id="logout-container">
                <i class="fas fa-sign-out-alt"></i>
                <h3 class="tab-heading">LOGOUT</h3>
            </div></a>          
        </div>
    </section>

    <!-- My Account Section Ends -->


    <!-- Review section start -->

    <section class="review" id="review">
        <h1 class="heading"> client's <span>review</span> </h1>
        <div class="box-container">
            <div class="box">
                <img src="../static/images/profile-1.jpg" alt="">
                <h3>John Deo</h3>
                <div class="stars">
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start-half-alt"></i>
                </div>
                <p class="text">
                    My mother was admitted following infection a week ago. She was given treatment in ICU for the first two days and later shifted to room. She received good treatment. I am thankful to all doctors, nursing and support staff in this regard. I also appreciate Ms Daya Kumari for her prompt service which helped in settlement of our health insurance (cash less treatment) claim. Canteen service is also goood.                </p>
            </div>

            <div class="box">
                <img src="../static/images/profile-2.jpg" alt="">
                <h3>Anandibai Joshi</h3>
                <div class="stars">
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start-half-alt"></i>
                </div>
                <p class="text">
                    Myself Anandibai Joshi , Dr. Swapna Chekuri (Gynaecologist ) is our Doctor.she is very good and polite and very experienced doctor. I had under gone surgery in uterus on November 8th 2023 and her treatment was good, and excellent and room services also so nice and good. I'm good enough today. Thank you so much to Dr. Swapna Chekuri.
                </p>
            </div>

            <div class="box">
                <img src="../static/images/profile-3.jpg" alt="">
                <h3>Bramwell</h3>
                <div class="stars">
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start"></i>
                    <i class="fas fa-start-half-alt"></i>
                </div>
                <p class="text">
                    Dr. Arun Kanala is an excellent doctor and good hospital. I agree with all other reviews. Recently I have undergone breast lump surgery where Dr. Arun Kanala treated me with utmost patience. Overall staff in the Omega Hospital also good, they are very cool and always try to assist patients, which cancer patients require. May God Bless Dr. Arun Kanala with long and healthy life.                </p>
            </div>
        </div>
    </section>

    <!-- Review section ends -->

    <!-- Blog section starts -->

    <section class="blogs" id="blogs">
        <h1 class="heading"> our <span>blogs</span></h1>

        <div class="box-container">
            <div class="box">
                <div class="image">
                    <img src="../static/images/blog-1.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href="#"> <i class="fas fa-calendar"></i> 26 feb, 2024 </a>
                        <a href="#"> <i class="fas fa-calendar"></i> Dr. Sailaja Surapaneni </a>
                    </div>
                    <h3>Cluster Headache: Symptoms, Causes, Diagnosis and Treatment</h3>
                    <p>Cluster headaches are very painful headaches that happen in groups or ‘clusters’ over weeks or months. They are more common in men than women. Let’s understand the symptoms, causes, diagnosis, treatments, home remedies, and prevention of cluster headaches. You will also understand when to see a doctor for this condition. </p>
                    <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span></a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../static/images/blog-2.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href="#"> <i class="fas fa-calendar"></i> 5th march, 2024 </a>
                        <a href="#"> <i class="fas fa-calendar"></i> Dr. G. Sushma Kumari </a>
                    </div>
                    <h3>12 Ways to Stop Nausea Fast</h3>
                    <p>Nausea is an uncomfortable feeling that makes you feel like you might vomit at any point. It can be triggered by motion sickness, pregnancy (morning sickness), side effects of medical procedures like chemotherapy or surgery, food poisoning, and other stomach infections. Consuming anti-nausea pills may seem like the quickest solution, but they may not be the best solution for all. For some individuals, natural remedies work better. This blog explores 12 easy ways that can help you stop nausea quickly and effectively.</p>
                    <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span></a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../static/images/blog-3.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href="#"> <i class="fas fa-calendar"></i> 6th march, 2024 </a>
                        <a href="#"> <i class="fas fa-calendar"></i> Dr. Swapna Chekuri </a>
                    </div>
                    <h3>12 Foods High in Zinc and Health Benefits</h3>
                    <p>Zinc is a crucial component in the complex web of nutrition, necessary for many body processes. This micronutrient is essential for wound healing, DNA synthesis, and immune system function. You require little amounts of this mineral every day, along with iron, to be healthy and carry out essential tasks. Zinc is a mineral that is found in every tissue in the body. It is essential for normal cell division and functions as an antioxidant to prevent damage from free radicals and delay the ageing process.</p>
                    <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span></a>
                </div>
            </div>

        </div>

    </section>

    <!-- Blog section ends -->

    <!-- Footer section starts -->

    <section class="footer">
        <div class="box-container">

            <div class="box">
                <h3>quick links</h3>
                <a href="#"> <i class="fas fa-chevron-right"></i> home </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> services </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> about </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> doctors </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> book </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> review </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> blogs </a>
            </div>

            <div class="box">
                <h3>our services</h3>
                <a href="#"> <i class="fas fa-chevron-right"></i> dental care </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> message therapy </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> cardioloty </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> diagnosis </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> ambulance service </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#"> <i class="fas fa-envelope"></i> healthhub@gmail.com </a>
                <a href="#"> <i class="fas fa-envelope"></i> medicarehub@gmail.com </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> mumbai, india - 423412 </a>
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
                <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
            </div>

        </div>

        <div class="credit"> created by <span>students</span> | all rights reserved </div>
    </section>

    <!-- Footer section ends -->

   
</body>
</html>