<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health Hub</title>
        <link rel="stylesheet" href="/static/css/article.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>
        <div class="article-container">
            <h1 class="main-heading">24/7 Healthcare</h1>
            <h3 class="heading">Health Articles</h3>

            <div class="card-container">
                <a href="/article1">
                    <div class="article">
                        <p class="pack">Walking Daily</p>
                        <p class="cost">Click for More Details</p>
                    </div>
                </a>
                <hr>

                <a href="/article2"><div class="article">
                    <p class="pack">Stop Smoking</p>
                    <p class="cost">Click for More Details</p>
                </div></a>
                <hr>

                <a href="/article3"><div class="article"> 
                    <p class="pack">Menstrual Cramps</p>
                    <p class="cost">Click for More Details</p>
                </div></a>
                <hr>

                <a href="/article4"><div class="article">
                    <p class="pack">Healthy Gut</p>
                    <p class="cost">Click for More Details</p>
                </div></a>
                <hr>

                <a href="/article5"><div class="article">
                    <p class="pack">Access to Antibiotics</p>
                    <p class="cost">Click for More Details</p>
                </div></a>

            </div>
            <div class="buttons">
                <a href='/dashboard'><button type="submit" class="btn" >BACK</button></a>
            </div>
        </div>
    </body>
</html>