<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health Hub</title>
        <link rel="stylesheet" href="/static/css/doctor-details.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        
    </head>
    <body>
        <div class="doctors-list-container">
            <h1 class="main-heading">24/7 Healthcare</h1>
            <h3 class="heading">Dentist</h3>

            <div class="doctor-list">

                <div class="cards">
                    <p class="name">Doctor Name: Seema Patil</p>
                    <p class="description1">Hospital Address: Gurtur</p>
                    <div class="sub-content">
                        <p class="description">Exp 5yrs</p>
                        <p class="description">Mobile No: 9898989898</p>
                        <p class="description">Cons Fees: 200/-</p>
                    </div>
                </div>
                <hr>

                <div class="cards">
                    <p class="name">Doctor Name: Pamkaj Parab</p>
                    <p class="description1">Hospital Address: Nigdi</p>
                    <div class="sub-content">
                        <p class="description">Exp 15yrs</p>
                        <p class="description">Mobile No: 7898989898</p>
                        <p class="description">Cons Fees: 300/-</p>
                    </div>
                </div>
                <hr>

                <div class="cards">
                    <p class="name">Doctor Name: Monish Jain</p>
                    <p class="description1">Hospital Address: Kurnool</p>
                    <div class="sub-content">
                        <p class="description">Exp  8yrs</p>
                        <p class="description">Mobile No: 8989898989</p>
                        <p class="description">Cons Fees: 300/-</p>
                    </div>
                </div>
                <hr>

                <div class="cards">
                    <p class="name">Doctor Name: Vishal Deshmukh</p>
                    <p class="description1">Hospital Address: Chinchwad</p>
                    <div class="sub-content">
                        <p class="description">Exp  6yrs</p>
                        <p class="description">Mobile No: 9898000000</p>
                        <p class="description">Cons Fees: 500/-</p>
                    </div>
                </div>
                <hr>

                <div class="cards">
                    <p class="name">Doctor Name: Shrikant pande</p>
                    <p class="description1">Hospital Address: vizag</p>
                    <div class="sub-content">
                        <p class="description">Exp  7yrs</p>
                        <p class="description">Mobile No: 7798989898</p>
                        <p class="description">Cons Fees: 600/-</p>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <a href='/doctors'><button type="submit" class="btn" >BACK</button></a>
            </div>

        </div>
    </body>
</html>