<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health Hub</title>
        <link rel="stylesheet" href="/static/css/find-doctors.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>
        <div class="doctors-container">
            <h1 class="main-heading">24/7 Healthcare</h1>
            <h3 class="heading">Top Doctors</h3>

            <div class="doctors">

                <a href="/family"><div class="doc-card">
                    <img src="../static/images/family-doctor.jpg" alt="image1" class="image-size"/>
                    <p class="type">FAMILY PHYSICIANS</p>
                </div></a>

                <a href="/nutritionist"><div class="doc-card">
                    <img src="../static/images/dietician.jpg" alt="image2" class="image-size"/>
                    <p class="type">NUTRITIONIST</p>
                </div></a>

                <a href="/dentist"><div class="doc-card">
                    <img src="../static/images/dentist.jpg" alt="image3" class="image-size"/>
                    <p class="type">DENTIST</p>
                </div></a>

                <a href="/surgeon"><div class="doc-card">
                    <img src="../static/images/surgeon.jpg" alt="image4" class="image-size"/>
                    <p class="type">SURGEON</p>
                </div></a>

                <a href="/cardiologist"><div class="doc-card">
                    <img src="../static/images/cardiologist.jpg" alt="image5" class="image-size"/>
                    <p class="type">CARDIOLOGISTS</p>
                </div></a>

                <a href='/dashboard'>
                    <div class="doc-card">
                        <img src='../static/images/back.jpg' alt="image5" class="image-size" />
                        <p class="type">BACK</p>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>