<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Hub</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="app-container">
        <div class="main-container">
            <h1 class="main-heading">Welcome to HEALTH HUB</h1>
            <P class="description">Health is like money, we never have a true idea of its value until we lose it.</P>
        </div>
        <div class="status">
            <p class="account-status">If existing user? <a href="/login">Login</a> or <a href="/signup">sign up</a></p>
        </div>
    </div>
</body>
</html>