<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health Hub</title>
        <link rel="stylesheet" href="/static/css/healthy-gut.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>
        <div class="article-container">
            <h1 class="main-heading">24/7 Healthcare</h1>
            <h3 class="heading">Menstrual Cramps</h3>
            <img src="../static/images/image3.jpg" alt="image3" class="image-size" />
            <div class="buttons">
                <a href='/article'><button type="submit" class="btn" >BACK</button></a>
            </div>
        </div>
    </body>
</html>